* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: plum;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
 .subekshya_chhetri{
    height: 45px;
}
.logo_container {
    margin-left: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px;
    border-bottom: 5px solid plum;
}
.nav_bar a:hover {
    border-bottom: 4px solid red;
}
.nav_bar a sup {
    color: plum;
    font-size: 10px;
}


.search_bar {
    height: 40px;
    min-width: 400px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
    justify-content: space-around;
}
.search_input {
    color: #696e79;
    background-color:#f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
    justify-content: space-around;
}

/* Main Section*/
.picture {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
}

.Introduction {
     text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.Blog {
     text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.blog_item {
    width: 250px;
}

.Graphic {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.footer_container {
    padding: 30px 0px 40px 0px;
    background-color: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}
.footer_column h3 {
    color: #282c3f;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: end;
    padding: 15px;
}